---
title: RNGTool v1
layout: default
---

<h1>List of sources for RNGTool v1</h1>
<p>This directory contains the source code for all 1.X releases of RNGTool, starting with v1.4</p>
<p>v1.0 is macOS 10.15+ only.</p>
<p>v1.1+ is macOS 11.3+ only.</p>
<p><a href="javascript:window.history.back()">&lt;- Back</a></p>
<hr>
{% for item in site.data.rngtool %}
  {% if item.major == 1 %}
    <h4>{{ item.date }} - v1.{{ item.minor }} ({{ item.build }}) - {% if item.src == true %}<a href="/source/RNGTool/1.X/RNGTool-v1.{{ item.minor }}-source.zip">RNGTool-v1.{{ item.minor }}-source.zip</a>{% else %}RNGTool-v1.{{ item.minor }}-source.zip{% endif %} | <a href="/source/RNGTool/1.X/RNGTool-v1.{{ item.minor }}-installer.dmg">Binaries</a> (Released as v1.{{ item.minor }} build {{ item.build }})</h4>
    <hr>
  {% endif %}
{% endfor %}
