<div class="nav">
    <nav>
        <ul>
            <li class="navstd"><a href="/">Home</a></li>
            <li class="navstd">
                <div class="dropdown">
                <button class="dropbtn">Sources</button>
                    <div class="dropdown-content">
                        <a href="/source/CSharpCollection/">CSharpCollection</a>
                        <a href="/source/fake-apt/all/">fake-apt</a>
                        <a href="/source/NCX-Core/">NCX-Core</a>
                        <a href="/source/NCX-Core-Lite/">NCX-Core-Lite</a>
                        <a href="/source/theVaultC/all/">theVaultC</a>
                        <a href="/source/RNGTool/">RNGTool</a>
                    </div>
                </div>
            </li>
            <li class="navimg"><a href="https://github.com/NCX-Programming" target="_blank"><img src="/files/site/images/github64px.png" style="width:32px;height:32px;"/></a></li>
            <li class="navimg"><a href="https://discord.gg/TbPXuFr" target="_blank"><img src="/files/site/images/discord.png" style="width:30px;height:32px;"/></a></li>
        </ul>
    </nav>
</div>
